<%- include ("partials/header")%>

<div class="ui main text container segment">
	<div class="ui huge header">
		<%= blog.title %>
		<form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
			<button class="ui right floated red basic button">
				Delete Post
			</button>
		</form>
		<a class="ui right floated orange basic button" href="/blogs/<%= blog._id %>/edit">Edit Post</a>
		<!-- method-overide used to create a DELETE request with the form -->
	</div>
	<div class="ui top attached segment">
		<div class="item">
			<img class="ui centered rounded image" src="<%= blog.image %>">
			<div class="content">
				<span><em><%= blog.created.toDateString() %></em></span>
			</div>
			<div class="description">
				<p>
					<!-- using - instead of = in EJS will allow users to input HTML to format blog posts
					However, it will be important to sanitize user input so that javascript cannot be run via script tags -->
					<%- blog.body %>
				</p>
			</div>
		</div>
	</div>
	

</div>

<%- include ("partials/footer")%>